<template>
  <div>
      <p>Chart goes here...<p></p>
  </div>
</template>

<script>
export default {
  name: "ExpenseCharts",
  data() {
    return {
    }
  },
  methods: {

  }
}
</script>

<style scoped>
div {
  color: white;
  background-color: black;
}
</style>
